
<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
<h1>
<% if(user){ %>
<form method="post" class="logOut" action="user/logout?_method=DELETE">
<input type="submit" value="log out">
</form>
<p id ="textUser">Welcome, <%= user.fname %> <%= user.lname %> </p>
<div class="container-fluid height-full bg-dark">

</div>
<p class="text-center" id ="textUser">Please type beer brand name</p>
<div>
<!-- <form method="post" action="user/logout?_method=DELETE">
<input type="submit" value="Logout">
</form> -->
</div>

<input type="text"  value="brand name" id="bir">
<button  id="btnSearch">CLick</button>

<button id = "feedBackSearch">See Saved FeedBacks</button>
<div id="brApend">
<!-- <li></li> -->
</div>
<div id="brApendFeedBack">
</div><br>
<textarea id = "feedback" style = "display:none; width: 400px; height:200px;left:0;"></textarea>
<button id = "submitFeedback" class="btn btn-info" style = "display:none">Save</button>

<% } else { %>

<!-- <h2>Beer Note</h2>
<h3> Welcome, Guest</h3> -->

<!-- <div class="guest"> -->
<!-- <a href="/user/login"><p>LOGIN</p></a>
<a href="/user/new"><p>SIGN UP</p></a> -->
<!--   <div class="container-fluid height-full bg-dark">
 <h2 class="text-center">Beer Note</h2>
<h3  class="text-center"> Welcome, Guest</h3>
</div> -->

<div class="container">
     <h2 class="text-center">Beer Note</h2>
<h3  class="text-center"> Welcome, Guest</h3>
<div class="col-md-12 text-center">
<a href="/user/login" class="btn btn-success btn-md" role="button">LOG IN</a>
<a href="/user/new" class="btn btn-success btn-md" role="button">SIGN UP</a>
<video autoplay="" loop="" class="fillWidth fadeIn animated" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
    <source src="ber.mp4" >

</div>
</div>

<!-- </div> -->

<% } %>
<!-- </h1> -->
<!-- <div>
<form method="post" action="user/logout?_method=DELETE">
<input type="submit" value="Logout">
</form>
</div> -->
<!--
<div class="guest">
<a href="/user/login">LOGIN</a>
<a href="/user/new">SIGN UP</a>
</div>
-->
<!-- </div> -->
</body>
</html>
