



/*

/*/*/*.guest {text-align: center; }
#brApend {width: 280px;}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 1px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:hover, a:active {
    background-color: red;
}

p{font-size: 15px}

h2,h3 {text-align: center; }*/

/*
a { border-bottom: thin solid;
    color: rgb(0,0,192);
    font-weight: 700;
    text-decoration: none;
}
a:visited { color: rgb(128,0,128); }
a:active { color: rgb(192,0,0); } /* :active MUST come after :visited */
a:active, a:focus, a:hover { border-bottom-width: medium; }
*/
/*p {
    margin: 0 0 0;
}*/
.form-style-8{
  width:20px; height: 20px;
}
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 200px;
    width:450px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="email"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 50%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
html {margin-top:-20px; padding-top:0;}

.container-fluid {background-color: blue;  height: 24%; margin: top:0; padding-top:0;}
.height-full {
  height: 35vh;
  margin: top:0; padding-top:0;
}
.bg-dark {
  background-color: #5C5454;
  background-image: url("../beer2.jpg");
  color: #fff;
}
.text-center {color: white; font-size: 40px;}
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.btn btn-success {padding-top: -440px;margin-top:-200px; margin-bottom: -200px;}
.btn { margin-bottom: -250px; background-color: #EE3D3D }
#userlog {background-image: url("/beer3.jpg")}
#userNew{ background-image: url("/beer4.jpg"); }
#textUser{ font-size: 20px; text-align: center; background-color: black; color: white; margin: 0 0 0 }
.logOut {text-align: center; background-color: black}

button, input, select, textarea {
    font-family: inherit;
    font-size: 15px;
}

