<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<div class="form-style-8">
 <h2>Login to your account</h2>
  <form action="/user/login" method="post">
    <label for="">Email:</label>
    <input type="text" name="email"><br>
    <label for="">Password:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Login">
  </form>
  </div>
</body>
</html>
